/* Add some css styles based on the tutorial at javascript.info: introduction to browser events
 https://javascript.info/introduction-browser-events */
  
  html {
    font-size: 10px;  
  }
  
  body {
    padding: 10px;
    background-color: #7e3d3d;
  }
  
  .carousel{
      position: relative;
      width: 398px;
      padding: 10px 40px;
      border: 1px solid rgb(11, 73, 143);
      border-radius: 25px;
      background: #eee;
  }

  .carousel img{
      width: 130px;
      height: 130px;
  }

  .arrow {
      position: absolute;
      top: 60px;
      padding 0;
  }