
body {
    display: flex;
}

.game-container {
    width: 500px;
    height: 730px;
    position: absolute; /* whatever Parent div, this div
                            is in we will position it based on thes
                            dimension and position   */
    left: 80px;
    
}

.border-Left{
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: white;
    z-index: +2;
}

.border-Right{
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: white;
    z-index: +2;
    left: 580px;
}

.border-Top{
    width: 660px;
    height: 50px;
    position: absolute;
    background-color: white;
    z-index: +2;
    left: 580px;
    top: -50px;
}


.sky {
    background-color: blue;
    width: 500px;
    height: 580px;
    position: absolute;
}

.ground{
    background-color: brown;
    width: 500px;
    height: 150px; /* 730px - 580px = height of our sky fits in the remaining space of our 
                    game container*/
    position: absolute; /* Relative to the game container because that is the parent element. */
    top: 580px;
    z-index: +1

}

.bird {
    background-image: url('images/flappy-bird.png');
    position: absolute;
    width: 60px;
    height: 45px;    

}

.obstacle {
  background-image: url('images/flappybird-pipe.png');
  width: 60px;
  height: 300px;
  position: absolute;
}

.topObstacle {
    background-image: url('images/flappybird-pipe.png');
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
    position: absolute;
  }