* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #5D6063;
  background-color: #419741;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.3;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-form-submission {
  text-align: center;
  background-color: #419741;
  border: 1px solid #ffffff;
  border-radius: 3px;
  
  width: 80%;
  margin: 40px 0;
  padding: 0px;
}

.user-form-submission h1 {
  color: white;
  font-size: 30px;
  margin-bottom: 0px;
}

/* Styling Forms */
.user-form {
  background-color: #419741;
  border: 1px solid #ffffff;
  color: white;
  border-radius: 3px;
  
  width: 102%;
  padding: 50px;
  margin: 0 0 40px 0;
}

/* Styling Text input fields */
.form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type='text'],
.form-row input[type='email'],
.form-row input[type='tel'] {
  background-color: #FFFFFF;
  border: 1px solid #ffffff;
  border-radius: 1px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 1px;
}

/* Tweak base styles for desktop layout via media query */
@media only screen and (min-width: 700px) {
  .speaker-form-header,
  .speaker-form {
    width: 600px;
  }
  .form-row {
    flex-direction: row;
    align-items: flex-start; /* To avoid stretching */
    margin-bottom: 15px;
  }
  .form-row input[type='text'],
  .form-row input[type='email'],
  .form-row input[type='tel'] {
    width: 900px;
    height: initial;
  }
  .form-row label {
    text-align: left;
    width: 450px;
    margin-top: 7px;
    padding-right: 20px;
  }
}

/* Phone input fields */
